body {
  background: linear-gradient(70deg, #2193b0, #6dd5ed);
  background-repeat: no-repeat;
  background-size: 180% 180%;
  background-blend-mode: luminosity;
  font-family: Arial, sans-serif;
  margin: 20px;
  display: flex;
  justify-content: center;
  height: 100vh;
  animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  text-align: center;
}

.question {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

#submitBtn {
  display: block;
  margin: 20px auto;
}

footer {
  width: 100%;
  background-color: var(--body-color);
  padding: .5rem;
  font-size: 1.2rem;
  bottom: 0;

}

form {
  width: 100%;
}

label {
  margin: 1rem 0;
}

.questiontext {
  height: 4rem;
}

.card {
  width: 300px;
  height: fit-content;
  border-radius: 20px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background: rgba(255, 255, 255, .35);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 18px 0 rgba(31, 38, 135, 0.37);
}  

/* Login section */

.login {
  width: 300px;
  height: fit-content;
  border-radius: 20px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background: rgba(255, 255, 255, .35);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 18px 0 rgba(31, 38, 135, 0.37);
}

input[type="text"], textarea {
  display: block;
  outline: none;
  border-radius: 5px;
  border: 2px solid #dadada;
  padding: .7rem .3rem;
  width: 95%;
  transition: .5s ease-in-out;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

input[type="text"]:focus,  textarea:focus{
  border: 2px solid #1260cc
}

.login form {
  width: 100%;
  padding: .2rem;
}

.login h1 {
  font-size: 2.1rem;
}

.login label {
  margin-bottom: 1rem;
}

.btn {
  display: block;
  padding: .5rem;
  margin: .7rem 0;
  background-color: #1260cc;
  border-radius: 5px;
  border: none;
  font-size: 1.1rem;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  background-color: #29c5fc;
}

.btn-block {
  width: 100%;
}

.leaderboard {
  width: 100%;
}

.leaderboard h2 {
  text-align: center;
}

.item-4{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dadada;
}

.text {
  display: flex;
  align-items: center;
}

.text p {
  padding: .5rem;
  margin: 0;
}
.num {
  border-right: 1px solid #dadada;
}

.buttons {
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
}

main {
width: 100%;
display: flex;
justify-content: center;
}

.container {
display: flex;
width: 80%;
padding: 2rem;
}


.legend-box{
width: 30%;
padding: 1rem;
font-size: 1rem;
font-weight: bold;
} 

.questions-side {
width: 70%;
padding: .5rem;
height: fit-content;
border: 1px solid black;
border-radius: 10px;
backdrop-filter: blur(4px);
-webkit-backdrop-filter: blur(4px);
background: rgba(255, 255, 255, .35);
border: 1px solid rgba(255, 255, 255, 0.18);
box-shadow: 0 5px 10px 0 rgba(31, 38, 135, 0.37);
}
.legend-box {
display: flex;
flex-direction: column;
}

.l-box {
width: 80%;
display: flex;
flex-wrap: wrap;
gap: .5rem;
}

.l-box a {
text-decoration: none;
border: 1px solid black;
width: 2rem;
height: 2rem;
text-align: center;
border-radius: 5px;
background-color: rgba(206, 205, 205, 0.938);
color: #000;
}

li.optionlist {
margin: .5rem 0;
padding: .5rem 0;
}
#timer {
padding: .5rem;
background-color: rgb(48, 47, 47);
color: #fff;
display: block;
width: fit-content;
border-radius: 8px;
}

.timeranim {
animation: blink 1s infinite;
}

@keyframes blink {
0% {
  opacity: 1;
}
50% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}

.container-flex {
display: flex;
gap: 2rem;
}

@media screen and (max-width: 800px) {
.container {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.legend-box, .questions-side {
    width: 100%;
}

.legend-box {
    justify-content: center;
} 

.l-box {
  width: 100%;
}

.container-flex {
  flex-direction: column;
}
}